.image-container{
    display: flex;
    flex-direction: row;
    margin: 1em;
    gap: 30px;
    padding: 10px;
}

.wasa{
    height: 300px;
    border-radius: 10px;
}
h1{
    color: pink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}