.image-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 10px;
}

.wasa {
    height: 300px;
    border-radius: 10px;
    transition: transform 0.2s;
}

.wasa:hover {
    transform: scale(1.05);
}
