
/* Título principal */
.titulo-principal {
    font-size: 4rem;
    color: #d475a2;
    text-align: left;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Contenedor de la imagen */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para la imagen */
.wasa {
    width: 100%;
    max-width: 662px;
    height: auto;
}

/* Cambio de la imagen al pasar el cursor */
.wasa:hover {
    transform: scale(1.05);
}

/* Estilos del texto */
.texto-central {
    font-size: 24px;
    text-align: center;
}
