.carta-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffe6f0;
    border-radius: 10px;
    text-align: center;
}

.productos-lista h2 {
    color: #f58ab8;
    margin-top: 20px;
}

.waffles-lista, .toppings-lista, .bebidas-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
}

.producto-tarjeta {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.producto-tarjeta.selected {
    border-color: #f58ab8;
    box-shadow: 0 6px 12px rgba(255, 2, 179, 0.164);
    transform: scale(1.1);
}

.producto-nombre {
    font-size: 1.2rem;
    color: #333;
}

.producto-precio {
    font-size: 1rem;
    font-weight: bold;
    color: #f58ab8;
}

.add-to-cart {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f58ab8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.add-to-cart:hover {
    background-color: #e04892;
}
